@charset "utf-8";
@use "sass:list";
@use "sass:map";

@use "variables" as *;
@use "reset";
@use "font";
@use "utils" as *;

body {
  font-family: Ria, "Noto Sans KR", sans-serif;
  background-color: #81c4ed;
}
.main {
  border-radius: 10px;
  width: calc(50% - 16px);
  margin: 8px 8px 8px auto;
  text-align: center;
  overflow-x: hidden;

  .profile-intro {
    height: calc(100vh - 200px);
    @include center;

    h2 {
      color: #4bc2a6;
      font-size: 100px;
    }
  }

  .profile-been {
    text-align: center;
    padding: 60px 50px;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .profile-name {
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    color: #81c4ed;
  }

  .profile-links {
    @extend %krFont;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 1.1rem;
    margin-bottom: 40px;
    margin: 16px 0px 0px 0px;
  }

  .profile-links a {
    color: #000;
    text-decoration: none;
  }

  .profile-links a:hover {
    text-decoration: underline;
  }

  .profile-bio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    text-align: left;
    font-size: 1rem;
    line-height: 1.6;
    margin: 40px 0px 0px 0px;
    @extend %krFont;
  }
}
.timeline {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  padding: 50px 50px 50px 50px;
}

.profile-image {
  flex: 0 0 300px; /* 사진 영역 고정 */
  border-radius: 50% / 15%;
  overflow: hidden;
}

.profile-image img {
  width: 100%;
  height: auto;
  display: block;
}

.accordion-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.accordion-item {
  border-radius: 10px;
  background: #fafafa;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.accordion-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 24px;
  font-size: 18px;
  font-weight: 700;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #81c4ed;
}

.accordion-btn .chev {
  transition: transform 0.3s ease;
}

.accordion-btn[aria-expanded="true"] .chev {
  transform: rotate(90deg);
}

.accordion-panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  padding: 0 24px;
}

.accordion-content {
  padding: 20px 0 28px;
}

.accordion-text ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 11px;
  font-family: noto-snas;
}

.col li {
  margin-bottom: 8px;
}
