@charset "utf-8"; 

@use 'reset';
@use 'font'; 
@use 'utils' as *;

body {
    font-family:Ria, 'Noto Sans KR', sans-serif;
    background-color: #182943;
}
.head{
    display: flex;
    justify-content: space-between;
    position: fixed;
    inset: 0 0 auto 0;
    z-index: 99;
    padding: 40px;
    h1{
        color: #fff;
    }
}

.main-bg{
    width: 50%;
   height:100vh;
    background-image: url(../../images/main.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: fixed;
    inset:0 auto 0 0;
    /*
    left:0;
    top:0;
    bottom:0;
    */
    
    /* inset:top right bottom left */
}
.main{
    border-radius: 10px;
    width: calc(50% - 16px);
    margin: 8px 8px 8px auto;
    text-align: center;
    
    h2 {
        
        font-family: 'Rubik Bubbles',fantasy;
        letter-spacing:5px;
        font-size: 60px;
        font-weight: 400;
    }
    
    section {
        margin:8px 0;
        background-color: #fff;
        border-radius: 10px;
    }
}
.intro{ 
    height: calc(100vh - 16px);
    @include center;
}

.work {
    @include center;
    height:60vh;
    min-height: 550px;
    position: relative;
    .star{
        position: absolute;
        background-color: olive;
        left: 30px;
        top: 30px;
    }
    .computer{
        position: absolute;
        background-color: #182943;
        right: 40px;
        top: 40px;
    }
    .been{
        position: absolute;
        background-color: aquamarine;
        left: 110px;
        bottom: 50px;
    }
    .painting{
        position: absolute;
        background-color: lawngreen;
        right: 40px;
        bottom: 200px;
    }
    a{
        width: 180px;
        background-color: #182943;
        border-radius: 50px;
        height: 50px;
        display: block;
        color: #fff;
        display: inline-block;
        padding: 15px 30px;
    }
    
}
.profile{
    display: flex;
    height: 100vh;
    background: white;
    height: 460px;
    gap: 5px;
    border-radius:8px;
    .profile-left{
        width: 35%;
        background: #000;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        font-weight: bold;
        flex-direction:row;
    }
    .profile-right{
        width: 65%;
        padding: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
